.html,
.body,
.root {
  margin: 0;
  padding: 0;
}

/* App */

.App {
  position: fixed;
  left: 0;
  top: 0;

  font-size: 12pt;
}

/* Display */

.display {
  position: fixed;
  width: calc(100vw - 420px);
  height: 100%;
  line-height: 125%;

  font-family: "Courier New", Courier, monospace;
  box-shadow: -1px 0 0 0 black inset;
}

.program {
  padding: 10px;
  overflow: scroll;
  white-space: nowrap;
}

.buffers {
  padding: 10px;
  overflow: scroll;
  white-space: nowrap;

  box-shadow: 0 0 0 1px black;
}

.buffer {
}

/* Panel */

.panel {
  position: fixed;
  width: 380px;
  height: 100%;
  padding: 10px;
  margin-left: calc(100vw - 400px);
}

.panel > div {
  margin-bottom: 20px;
}

/* Environment */

.environment {
  padding: 5px;

  font-family: "Courier New", Courier, monospace;
  box-shadow: 0 0 0 1px black inset;
}

/* Context */

.context {
  font-family: "Courier New", Courier, monospace;
}

.context-item {
}

/* Goal */

.goal {
  font-family: "Courier New", Courier, monospace;
}

/* Palette */

.palette {
}

.palette-item {
  padding: 5px;
  margin-bottom: 5px;

  font-family: "Courier New", Courier, monospace;
  box-shadow: 0 0 0 1px black inset;
  cursor: pointer;
}

.palette-item:hover {
  /* background-color: rgb(196, 196, 196); */
  background-color: green;
  color: white;
}

/* Program */

.prgm {
  vertical-align: text-top;
}
.prgm.jud {
}

/* Term */

.term {
  vertical-align: text-top;
}
.term.uni {
}
.term.uni.lvl {
}
.term.pi {
}
.term.lam {
}
.term.neu {
}
.term.var {
}
.term.app {
}
.term.let {
}
.term.let.head {
}
.term.let.tail {
  display: inline-block;
}
.term.hol {
}
.term.id {
  min-width: 1ch;
  box-shadow: 0 -4px 0 0 rgb(208, 206, 164) inset;
}
.term.id.input {
  display: inline-block;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}

/* HoleId */

.holeId.unfocussed {
  cursor: pointer;
  box-shadow: 0 0 4px 1px blue inset;
  padding: 0 2px;
}
.holeId.focussed {
  background-color: green;
  box-shadow: 0 0 4px 0 green;
  color: white;
  padding: 0 2px;
}

/* Parentheses */

.term > .pnc.paren.left:hover,
.term > .pnc.paren.left:hover ~ .pnc.paren.right {
  background-color: red;
  color: white;
}

/* Syntax */

.pnc.paren {
  font-weight: bold;
}
.pnc.col {
  font-weight: bold;
}
.pnc.dot {
  font-weight: bold;
}
.pnc.eq {
  font-weight: bold;
}
.pnc.let {
  font-weight: bold;
}
.pnc.pi {
  font-weight: bold;
}
.pnc.lam {
  font-weight: bold;
}
.pnc.uni {
  font-weight: bold;
}
.pnc.in {
  font-weight: bold;
}

/* Console */

.console {
  padding: 5px;

  font-family: "Courier New", Courier, monospace;
  box-shadow: 0 0 0 1px black inset;
}
